<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.majestyinc.querious_">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ViewedBy"
            android:exported="true" />
        <activity
            android:name=".ExpandPost"
            android:exported="true" />
        <activity
            android:name=".Following"
            android:exported="true" />
        <activity
            android:name=".writeActivity"
            android:exported="true"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ForgotPassword"
            android:exported="true" />
        <activity
            android:name=".FileUpload"
            android:exported="true" />
        <activity
            android:name=".IndividualPost"
            android:exported="true"
            android:label="@string/title_activity_individual_post"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".YourQues"
            android:exported="true" />
        <activity
            android:name=".Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendImage"
            android:exported="true" />
        <activity
            android:name=".StoryActivity"
            android:exported="true" />
        <activity
            android:name=".FollowerActivity"
            android:exported="true" />
        <activity
            android:name=".UpdateProfile"
            android:exported="true" />
        <activity
            android:name=".UpdatePhoto"
            android:exported="true" />
        <activity
            android:name=".ShowUser"
            android:exported="true" />
        <activity
            android:name=".ShowLikedUser"
            android:exported="true" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".ReplyActivity"
            android:exported="true" />
        <activity
            android:name=".Related"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".PrivacyActivity"
            android:exported="true" />
        <activity
            android:name=".PostActivity"
            android:exported="true" />
        <activity
            android:name=".NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".MessageActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ImageActivity"
            android:exported="true" />
        <activity
            android:name=".CreateProfile"
            android:exported="true" />
        <activity
            android:name=".CommentsActivity"
            android:exported="true" />
        <activity
            android:name=".ChatActivity"
            android:exported="true" />
        <activity
            android:name=".AskActivity"
            android:exported="true"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".AnswerActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
           />
        <activity
            android:name=".ShowStory"
            android:exported="true" />
        <activity
            android:name=".VideoCallOutgoing"
            android:exported="true" />
        <activity
            android:name=".VideoCallinComing"
            android:exported="true" />

        <service
            android:name=".FirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1951396871656386~5135693176" />
    </application>

</manifest>